{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
   <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
    <div class="panel-heading"><h3 class="panel-title">Liste des équipements Cisco</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" >
       {% for equipement in liste_equipement %}
        {% if equipement.on == true %}
            <a href="{{path('equipement_connexion',{'ip': equipement.ip})}}">
        {% endif %}
                    <li id="equipement" class="list-group-item">
                        <strong>{{equipement.nom}}</strong>
                        <br/>
                        <p class="description-item">{{equipement.type}}</p>
                        <span id="{{ equipement.ip }}">
                            <script>
                                element = document.getElementById("{{ equipement.ip }}");
                                element.classList.remove("pastille offset-md-3 badge badge-pill badge-success");
                                element.classList.remove("pastille offset-md-3 badge badge-pill badge-danger");
                            </script>
                            {% if equipement.on == true %}
                                <script>                                
                                    element = document.getElementById("{{ equipement.ip }}");
                                    element.setAttribute("class", "pastille offset-md-3 badge badge-pill badge-success");
                                </script>
                            {% else %}
                                <script>
                                    element = document.getElementById("{{ equipement.ip }}");
                                    element.setAttribute("class", "pastille offset-md-3 badge badge-pill badge-danger");
                                </script>
                            {% endif %}
                        </span>
                    </li>
        {% if equipement.on == true %}
            </a>
        {% endif %} 
             
        

         
                     
         {% endfor %}
        </ul>
    </div>
</div>
  {% endblock %}