{% extends "base.html.twig" %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/toggle.css') }}"/>
{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Modification de l'interface {{interface_name}}
            </h3>
            </br>
        </div>
        <form method="POST" action="{{ path('interface',{'name': nameUrl}) }}">
            <input type="hidden" name="type_form" value="interface_modification">
            <input type="hidden" name="nom" value="{{interface_name}}">
            <div class="nomInterface">
                <label class="labelTitre">Nom de l'interface : {{interface_name}}</label>
            </div>
          <button type="button" class="btn btn-secondary btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="handle"></div>
      </button>
            <div class="idInterface">
                <label class="labelTitre">Changer l'ip</label>
                <input type="text" name="ip" value="{{ ip }}">
            </div>
            <div class="maskInterface">
                <label class="labelTitre">Changer le mask</label>
                <input type="text" name="mask" value="{{ mask }}">
            </div>
            <br>
            <input type="submit" value="Enregistrer">
            <a href="{{path('equipement')}}" class="bt1 btn btn-light" >Retour</a>
        </form>
    <div>
    {% endblock %}
