{% extends "base.html.twig" %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap4-toggle.min.css') }}"/>
{% endblock %}
{% block javascripts %}

<script src="{{ asset('js/bootstrap4-toggle.min.js') }}"
{% endblock %}
{% block body %}
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Modification de l'interface
                {{interface_name}}
            </h3>
            </br>
        </div>
        <form method="POST" action="{{ path('interface',{'name': nameUrl}) }}">
            <input type="hidden" name="type_form" value="interface_modification">
            <div class="nomInterface">
                <label class="labelTitre">Nom de l'interface : {{interface_name}}</label>
            </div>
            <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-size="xs">
            <div class="idInterface">
                <label class="labelTitre">Changer l'ip</label>
                <input type="text" value="{{ ip }}">
            </div>
            <div class="maskInterface">
                <label class="labelTitre">Changer le mask</label>
                <input type="text" value="{{ mask }}">
            </div>
            <br>
            <input type="submit" value="Enregistrer">
            <a href="{{path('equipement')}}" class="bt1 btn btn-light" >Retour</a>
        </form>
    <div>
    {% endblock %}
