{% extends "base.html.twig" %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/recup_conf_equipement.css') }}"/>
{% endblock %}
{% block javascripts %}
  
{% endblock %}
{% block body %}
    <style>
            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }

            .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
            }

            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input:checked + .slider {
            background-color: #2196F3;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }
    </style>
    <script>
    $( document ).ready(function() {
    $('#checkbox').change(function() {
    alert("I'm changed!");
     var element = document.getElementById('idEtat');
            if(element.value == 1){
               element.value = 2;
            }else {
                element.value = 1;
            }
    });
    });
    
    </script>
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Modification de l'interface {{interface_name}}
            </h3>
            </br>
        </div>
        <div>
               <label class="switch">
                <input id="checkbox" type="checkbox" {% if etat == 1 %} checked="checked" {% else %} {% endif %}
                 name="etat" >
                 <input id ='idEtat' name ="numEtat" type="hidden" value="{{etat}}"/>
                <span class="slider round"></span>
                </label>
        </div>
        <form method="POST" action="{{ path('interface',{'name': nameUrl}) }}">
            <input type="hidden" name="type_form" value="interface_modification">
            <input type="hidden" name="nom" value="{{interface_name}}">
            <div class="nomInterface">
                <label class="labelTitre">Nom de l'interface : {{interface_name}}</label>
            </div>
            
            <div class="idInterface">
                <label class="labelTitre">Changer l'ip</label>
                <input type="text" name="ip" value="{{ ip }}">
            </div>
            <div class="maskInterface">
                <label class="labelTitre">Changer le mask</label>
                <input type="text" name="mask" value="{{ mask }}">
            </div>
            <br>
            <input type="submit" value="Enregistrer">
            <a href="{{path('equipement')}}" class="bt1 btn btn-light" >Retour</a>
        </form>
    <div>
    {% endblock %}
