{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/supervisionEquipement.css') }}" />
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>

{% endblock %}
{% block body %}
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <form method="POST" action="{{ path('equipement') }}">
        <div class="panel-heading"><h3 class="panel-title">Supervision de l'équipement {{equipement.nom}}</h3>
            </br>
        </div>
        <div class="panel-body">
            <input type="hidden" value="equipement" name="type_form">
            <div class="nomEquipement">
                        <label class="labelTitre" >Nom de l'équipement : </label>
                        <input id="nameInput" name="nameInput" type="text" value="{{equipement.nom}}">
            </div>
            <div class="typeEquipement">
                    <label class="labelTitre">Type de l'équipement : </label>
                    <label> {{equipement.type}}</label>
            </div>
            {% if(equipement.domaine!= '') %}
               <div class="domainEquipement">
                    <label class="labelTitre">Domaine de l'équipement : </label>
                    <label> {{equipement.domaine}}</label>
                </div>
            {% endif %}
            <div class="idEquipement">
                    <label class="labelTitre">IP de l'équipement : </label>
                    <label> {{equipement.ip}}</label>
            </div>
            <div>
                <ul class="list-group lgPorts" >
                    {% for item in equipement.info %}                  
                    
                        <li id="port" class="list-group-item row">
                            <span class="col-md-1">{{item["NomInterface"]}}</span>
                            <span class="col-md-3" id="{{ item["StatutAdmin"]}}">                                   
                                <script>
                                    element = document.getElementById("{{ item["StatutAdmin"] }}");
                                    element.classList.remove("offset-md-3 badge badge-pill badge-success");
                                    element.classList.remove("offset-md-3 badge badge-pill badge-danger");
                                </script>
                                {% if item["StatutAdmin"] == 1 %}
                                    <script>                                
                                        element = document.getElementById("{{  item["StatutAdmin"] }}");
                                        element.setAttribute("class", "offset-md-3 badge badge-pill badge-success");
                                    </script>
                                {% elseif item["StatutAdmin"] == 2 %}
                                    <script>
                                        element = document.getElementById("{{  item["StatutAdmin"] }}");
                                        element.setAttribute("class", "offset-md-3 badge badge-pill badge-danger");
                                    </script>
                                {% endif %}
                            </span>                                                  
                        </li>

                        <a>
                            <button class='btn btn-primary' name="modifPort">Modifier le port
                        </a>
                    {% endfor %}   
                </ul>
                {% if equipement.type == 'switch' %}
                    <button id="addPort">Ajouter un port</button>
                {% endif %}
                {% if equipement.type == 'routeur' %}
                    <button id="addPort">Ajouter une interface</button>
                {% endif %}
            </div>
             <div>
                <ul class="list-group lgMachines" >
                    <li id="port" class="list-group-item row">
                            <span class="col-md-1">Vlan 1</span>
                            <span class="offset-md-3">4569</span>
                            <label class="switch offset-md-5">
                            <input type="checkbox">
                            <span class="slider round"></span>
                            </label>
                    </li>
                    <li id="port" class="list-group-item row">
                            <span class="col-md-1">Vlan 2</span>
                            <span class="offset-md-3">1234</span>
                            <label class="switch offset-md-5">
                            <input type="checkbox">
                            <span class="slider round"></span>
                            </label>
                    </li>
                    <li id="port" class="list-group-item row">
                            <span class="col-md-1">Vlan 3</span>
                            <span class="offset-md-3">1235</span>
                            <label class="switch offset-md-5">
                            <input type="checkbox">
                            <span class="slider round"></span>
                            </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="buttonBlock">
    </br>
        <input type="submit" class="bt0 btn btn-light" value="Valider les modifications"></input>
        <a href="{{path('equipement_liste')}}" class="bt1 btn btn-light">Retour</a>
    </div>
    </form>
</div>
  {% endblock %}

  