{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/supervisionEquipement.css') }}" />
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
    <script src"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
  
    <script>
     $(document).ready(function() {
        $('#btnNom').onClick(function() {
            var value = document.getElementById('#nameInput').value;
        $.ajax({
            cache: false,
            type: "POST",
            url: "../public/php/fonction_equipement.php",
            data: {
                name: 'value',
                action: 'changer_nom'
                },
            success: function(data){
                console.log('ça marche');
            }
            error:function(err){
            alert("err");
            }
            console.error("NO");
            
            }); // Ajax Call
        }); //event handler
    }); 

    </script>   
{% endblock %}
{% block body %}
<div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
    <div class="panel-heading"><h3 class="panel-title">Supervision de l'équipement {{equipement.nom}}</h3>
    </br>
        </div>
            <div class="panel-body">
                <div class="nomEquipement">
                        <label class="labelTitre" >Nom de l'équipement : </label>
                        <input id="nameInput" type="text" value="{{equipement.nom}}"></input>                        
                        <button type="button" id="btnNom" class="bt2 btn btn-light"/><span class="glyphicon glyphicon-check"></span></button>                         
                </div>  
                <div class="typeEquipement">
                        <label class="labelTitre">Type de l'équipement : </label>
                        <label> {{equipement.type}}</label>
                </div>
                   <div class="domainEquipement">
                        <label class="labelTitre">Domaine de l'équipement : </label>
                        <label> {{equipement.domaine}}</label>
                </div>
                <div class="idEquipement">
                        <label class="labelTitre">IP de l'équipement : </label>
                        <label> {{equipement.ip}}</label>
                </div>
                <div>
                    <ul class="list-group lgPorts" >
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Port 1</span>
                                <span class="offset-md-3 badge badge-pill badge-danger">OFF</span>
                                <label class="switch offset-md-5">
                                    <input type="checkbox" onClick="setEtatEquipement('ON')">
                                    <span class="slider round"></span>
                                </label>
                        </li>
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Port 2</span>
                                <span class="offset-md-3">KO</span>
                                <label class="switch offset-md-5">
                                    <input type="checkbox" onclick="set">
                                    <span class="slider round"></span>
                                </label>
                        </li>
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Port 3</span>
                                <span class="offset-md-3">OK</span>
                                <label class="switch offset-md-5">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                        </li>
                    </ul>
                </div>
                 <div>  
                    <ul class="list-group lgMachines" >
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Vlan 1</span>
                                <span class="offset-md-3">4569</span>
                                <label class="switch offset-md-5">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                </label>
                        </li>
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Vlan 2</span>
                                <span class="offset-md-3">1234</span>
                                <label class="switch offset-md-5">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                </label>
                        </li>
                        <li id="port" class="list-group-item row">
                                <span class="col-md-1">Vlan 3</span>
                                <span class="offset-md-3">1235</span>
                                <label class="switch offset-md-5">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttonBlock">
        </br>
            <button type="button" class="bt0 btn btn-light">Valider les modifications</button>
           
            <a href="{{path('equipement_liste')}}">
                <button type="button" class="bt1 btn btn-light"/>Retour</button>
            </a>

           
        </div>
</div>

  {% endblock %}

  