{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/supervisionEquipement.css') }}" />
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>

{% endblock %}
{% block body %}
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <form method="POST" action="{{ path('equipement') }}">
        <div class="panel-heading"><h3 class="panel-title">Supervision de l'équipement {{equipement.nom}}</h3>
            </br>
        </div>
        <div class="panel-body">
            <input type="hidden" value="equipement" name="type_form">
            <div class="nomEquipement">
                <label class="labelTitre" >Nom de l'équipement : </label>
                <input id="nameInput" name="nameInput" type="text" value="{{equipement.nom}}">
                <input type="submit" class="bt0 btn btn-light" value="Enregistrer nouveau nom">
            </div>
            <div class="typeEquipement">
                <label class="labelTitre">Type de l'équipement : </label>
                <label> {{equipement.type}}</label>
            </div>
            {% if(equipement.domaine!= '') %}
               <div class="domainEquipement">
                    <label class="labelTitre">Domaine de l'équipement : </label>
                    <label> {{equipement.domaine}}</label>
                </div>
            {% endif %}
            <div class="idEquipement">
                    <label class="labelTitre">IP de l'équipement : </label>
                    <label> {{equipement.ip}}</label>
            </div>
            <div>
                <ul class="list-group lgPorts" >
                    {% for item in equipement.info %}                  
                    
                        <li id="port" class="list-group-item row">
                            <span class="col-md-1">{{ item.NomInterface }}</span>
                            <div class="offset-md-3">
                                <label>{% if item.StatutAdmin == 1 %} Actif {% else %} Inactif {% endif %}</label>
                                <span class="pastille offset-md-3 badge badge-pill {% if item.StatutAdmin == 1 %}badge-success{% else %}badge-danger{% endif %}"></span>
                            </div>                            
                            {% if equipement.type == 'Switch' %}
                                <a href="{{ path('port', {'name': item.NomInterface}) }} " class="btn btn-primary offset-md-9" name="modifPort">
                                    Modifier le port
                                </a>
                            {% elseif equipement.type == 'Router' %}
                                <a href="{{ path('interface', {'name': item.NomInterface}) }} " class="btn btn-primary offset-md-9" name="modifinterface">
                                    Modifier l'interface
                                </a>
                            {% endif %}
                        </li>

                        
                    {% endfor %}   
                </ul>
                {% if equipement.type == 'Switch' %}
                    <button id="addPort">Ajouter un port</button>
                {% endif %}
                {% if equipement.type == 'Router' %}
                    <button id="addPort">Ajouter une interface</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="buttonBlock">
    </br>
        <a href="{{path('equipement_liste')}}" class="bt1 btn btn-light">Retour</a>
    </div>
    </form>
</div>
  {% endblock %}

  